@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-base-100: #33929D;
  --color-accent: #606060;
}

body{
    
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  background-color: #EAECED;
  font-style: normal;
}

.swiper-wrapper-container {
  overflow: hidden !important;
}

.mySwiper {
  padding-bottom: 60px;
}

.mySwiper .swiper-pagination {
  bottom: -20px !important;
}
.mySwiper {
  --swiper-pagination-color: #03373D; /* active */
  --swiper-pagination-bullet-inactive-color: #94C6CB;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
